
body {
  background-color: black;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position:relative;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-cool {
	background-image:url('../images/ryu-cool.gif');
	display:none;
}

.logos{
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display:none;
  position: absolute;
  top:167px;
  left:250px;
  float: left;
}
.exp, #para{
	width:500px;
	color: gray;
	font-family: comical;
	font-size:55px;
	text-align:center;
	text-shadow:2px 2px gold;
	
}
.left{
		font-family:cursive;
	font-size:45px;

	
	width:300px;
	position:relative;
	float:left;
	
}
.right{
	margin-top:10px;
		font-family:cursive;
	font-size:45px;

	clear:left;

	width:300px;
	position:relative;
	float:right;
}
.sf-logo {
	background-image: url('../images/street_fighter_logo.png');
	
	background-repeat:no-repeat;
	width: 682px;
	height: 314px;
	display: none;
}

.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	
	width: 500px;
	height: 172px;
	display: none;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.brought-by, .how-to {
	display: none;
	color: #d342d2;
	font-family: comical;
	line-height:100px;
	font-size: 80px;
	text-align:center;
	width: 600px;
}

.brought-by {
	
	text-align: justified;
	margin-top: 100px;
}


.how-to p {
	width: 80%;
	color: black;

	line-height: 45px;
}
.how-to {
	position:absolute;
	width:700px;
	height:600px;
	left:500px;
}



